@use '../../pages/_styles' as style;

.containerNavbar{
    z-index: 9999;
    .navBar{
        background-image: style.$fondo-navbar;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .title{
            font-size: style.$font-title-navbar;
            color: style.$color-title-navbar;
            text-shadow: 1px 1px 3px black;
            font-family: style.$typeLetter-title-navbar;
        }
        div{
            .divUlNav{
                justify-content: right;
                ul{
                    li{
                        a{
                            text-align: center;
                            font-family: style.$typeLetter-title-navbar;
                            font-size: 1.2rem;
                        }
                    }
                    li:nth-child(2){
                        background-color: style.$gris;
                        box-shadow: 0px 0px 5px black inset;
                    }
                }
                
            }
        }
    }
    .subTitle{
        display: flex;
        justify-content: space-between !important;
        background-color: style.$gris;
        font-size: style.$font-subtitle-navbar;
        color: white;
        font-family: style.$typeLetter-title-navbar;
        padding-left: 2rem;
        margin: 0px auto !important;
        box-shadow: 0px 0px 5px black inset;
       a{
        color: white;
        text-decoration: none;
       }
    }
}
