@use '../../pages/_styles' as style;

.containerHome{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 10rem;
    padding-bottom: 6rem;
    min-height: 50vh;
    background-image: style.$fondo-home;
    .sectionOne,
    .sectionTwo{
        background-color: black;
        width: 15rem;
        height: 20rem;
        display: flex;
        align-items: center;
        position: relative;
        margin: 1rem;
        a{
            position: absolute;
            left: 20%;
            top: 50;
            font-family: style.$typeLetter-cartel;
            color: white;
            font-size: style.$font-cartel;
            font-weight: bold;
        }
        .image{
            filter: invert(20%);
        }
    }
    .sectionTwo{
        a{
            left: 15%;
        }
    }
}