@use '../_styles' as style;

.containerSeries{
    display: flex;
    flex-flow: row wrap;
    padding: 2rem;
    padding-bottom: 5rem;
    padding-top: 12rem;
    min-height: 50vh;
    justify-content: center;
    background-image: style.$fondo-secciones;
    .serie{
        display: flex;
        flex-flow: column wrap;
        width: 10rem;
        margin-left: 1rem;
        margin-right: 1rem;
        .image{
            width: 10rem;
            transition: all 500ms;
        }
        .image:hover{
            opacity: 0.5;
            border: 1px solid white;
        }
        .title{
            color: white;
            margin-top: 0.5rem;
            font-size: 1.2rem;
            cursor: pointer;
            margin-bottom: 2.1rem;
        }
    }    
}

.modal{
    position: relative;
    top: 25%;
    left: 0%;
    transform: translate(-50%, -50%);
    .modalBody{
        .modalLabel{
            margin: 0px;
            font-weight: bold;
        }
        .modalLabel:nth-child(n+2){
            margin-top: 0.6rem;
        }
        span,
        a{
            margin-left: 0.4rem;
        }
        span:nth-child(5){
            text-align: justify;
        }
    }
    .cerrar{
        @include style.cerrarPopup();
    }
    
    .cerrar:hover{
        @include style.cerrarPopupHover();
    }
}





